h1 {
    color: red;
    text-align: center;
    font-weight: bold;
}
caption {
    color:blueviolet;
    border-style: none;
}
th {
    background-color: aquamarine;
    text-align: center;
    font-weight: bold;
}
td {
    text-align: center;
}
table {
    border-style:solid ;
}